body {
    background: rgb(247, 248, 247)
}

#header{
    background: rgb(183, 243, 183);
    text-align:center ;
    color: blue;
}

* {
    box-sizing: border-box;
  }


.column {
    float: left;
    padding: 10px;

   
  }
  

.userPage {
    width: 25%;
 
    border: 1px solid rgb(180, 178, 178)
}

.cowListing {
    width: 50%;
    border: 1px solid rgb(180, 178, 178)
}

.requestPage {
    width: 25%;
    border: 1px solid rgb(180, 178, 178)
}

#sellerForm {
    border: 1px solid rgb(180, 178, 178);
    background: rgb(197, 237, 244);
    top: 20px;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    text-align: left;
}
#buyerForm {
    border: 1px solid rgb(180, 178, 178);
    background: rgb(156, 178, 178);
    top: 20px;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    text-align: left;
}

#form  {
    
    top: 10px;
    margin-left: 10px;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    text-align: left;
  }

.btn {
    color:white;
    background: green;
    border: none;
    font-size: 14px;
    width: 90px;
    height: 25px;
    border-radius: 5px;
    align-self: center;
  }