body {
  background: rgb(247, 248, 247);
}

#header {
  background: rgb(183, 243, 183);
  text-align: center;
  color: blue;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
}

.userPage {
  height: 100%;
  width: 30%;
  border: 1px solid rgb(180, 178, 178);
  bottom: 20px;
  padding: auto;
}

.cowListing {
  height: 100%;
  width: 70%;
  border: 1px solid rgb(180, 178, 178);
}

#sellerForm {
  border: 1px solid rgb(180, 178, 178);
  background: rgb(197, 237, 244);
  overflow: hidden;
  position: relative;
  font-size: 14px;
  text-align: left;
}

#sellerForm1 {
  top: 10px;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
  font-size: 14px;
  text-align: left;
}

#loginForm {
  top: 10px;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
  font-size: 14px;
  text-align: left;
}

#signupForm {
  top: 10px;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
  font-size: 14px;
  text-align: left;
}

.btn {
  color: white;
  background: green;
  border: none;
  font-size: 14px;
  width: 90px;
  height: 25px;
  border-radius: 5px;
  align-self: center;
}

#card {
  width: 100%;
  top: 20px;
}
#cow {
  float: left;
  width: 65%;
}

#sellerInfo {
  float: left;
  width: 35%;
}
.content {
  color: blue;
  border: 1px solid rgb(180, 178, 178);
  padding: 25px;
  background: rgb(188, 188, 244);
}

.hideSigninSignupForm {
  display: none;
}

.hideSigninSellerForm {
  display: none;
}

#listing {
  text-align: center;
font-size: 2rem
}

#backToLoginPage {
  top: 30px;
  bottom: 30px;
  padding: 3px;
  text-align: center;
  align-items: center;
}

#clickToSignin {
  top: 30px;
  padding: 3px;
  bottom: 30px;
  text-align: center;
  align-items: center;
}
