body {
    background: rgb(247, 248, 247)
}

#header{
    background: rgb(183, 243, 183);
    text-align:center ;
    color: blue;
}

* {
    box-sizing: border-box;
  }


.column {
    float: left;
    padding: 10px;
  }
  

.userPage {
    width: 20%;
    background: rgb(171, 206, 222)
}

.cowListing {
    width: 60%;
    background: rgb(149, 243, 149)
}

.requestPage {
    background: rgb(199, 245, 249);
    width: 20%
}